html{
    background-color: rgb(22, 22, 22);
}

*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.relogio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 450px;
}
#timer{
    background-color: #333;
    color: #0f0;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding: 10px 20px;
    width: 250px;
    border-radius: 10px;
    border: 5px solid #888;
    justify-content: center;
    width: inherit;
}

#botoes{
    display: flex;
    justify-content: space-around;
}
.btn{
    cursor: pointer;
    background-color: #ccc;
    width: 100%;
    margin: 7px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #888;
}
.parciais{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.parciais h2{
    background-color: #ccc;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
}
.parciaisregistradas{
    background-color: antiquewhite;
    margin: auto;
    padding: 5px;
    border-radius: 2px;
    margin-top: 10px;
    width: auto;
}