.divRelogio{
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: larger;
    background-color: rgb(46, 45, 45);
    color: rgb(0, 184, 0);
    width: 200px;
    height: 50px;
    border-radius: 10px;
}
#display{
    background-color: black;
    width: 210px;
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    font-size: larger;
    height: 60px;
}