.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
}


.logo img{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
}